<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Assignment-1</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/home'"> Home </a>
      <a mat-button [routerLink]="'/users'"> Users List </a>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span style="font-size: 12px"
      >SimpleCRM helps you easily manage your contacts</span
    >
  </mat-toolbar-row>
</mat-toolbar>
<div>
  <br />
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="center center" class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">conduit</a>

    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/"> Home </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"> Sign in </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"> Sign up </a>
      </li>
    </ul>
  </div>
</nav>
