<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink="">
        <mat-icon class="icon">home</mat-icon>
        <span class="label">Home</span>
      </a>
      <a mat-list-item routerLink="/login" *ngIf="!isAuthenticated">
        <mat-icon class="icon">input</mat-icon>
        <span class="label">Login</span>
      </a>

      <a mat-list-item routerLink="/users">
        <mat-icon class="icon">dashboard</mat-icon>
        <span class="label">Users</span>
      </a>
      <a mat-list-item type="button" (click)="logout()" *ngIf="isAuthenticated">
        <mat-icon class="icon">input</mat-icon>
        <span class="label">LogOut</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a routerLink="/"> Assignment-1 </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <a routerLink="">
              <mat-icon class="icon">home</mat-icon>
              <span class="label">Home</span>
            </a>
          </li>
          <li>
            <a routerLink="/login" *ngIf="!isAuthenticated">
              <mat-icon class="icon">input</mat-icon>
              <span class="label">Login</span>
            </a>
          </li>

          <li>
            <a routerLink="/users">
              <mat-icon class="icon">dashboard</mat-icon>
              <span class="label">Users</span>
            </a>
          </li>
          <li>
            <a *ngIf="isAuthenticated" (click)="logout()">
              <mat-icon class="icon">input</mat-icon>
              <span class="label">LogOut</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
